* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------ navbar ------ */
.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(43, 68, 118, 0.9);
    border: none;
    padding-top: 5px;
    z-index: 20;
}

.navbar .logo {
    float: left;
    color: white;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 20px;
}

/* ------ navbar-search ------ */
.navbar .navbar-search {
    position: relative;
    width: 200px;
    height: 30px;
    margin-top: 5px;
    margin-left: 70px;
}

.navbar .navbar-search input {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: none;
    border-radius: 20px;
}

.navbar .navbar-search i {
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: none;
    top: 8px;
    right: 10px;
}

/* ------ navbar-links and dropdown ------ */

.navbar .navbar-links {
    position: relative;
    height: 40px;
    float: right;
    top: -25px;
    right: 40px;
}

.navbar a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.navbar .navbar-links .navbar-ul li {
    display: inline-block;
    position: relative;
    color: white;
    padding: 0px 10px;
}

.navbar .navbar-links .navbar-ul li a::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: rgba(24, 221, 126, 0.818);
    transition: 0.3s;
}

.navbar .navbar-links .navbar-ul li a:hover::after {
    width: 100%;
}

.navbar-submenu {
    position: absolute;
    width: 120px;
    height: auto;
    top: 130%;
    left: -30px;
    list-style: none;
    border-radius: 10px;
    background: #6db4d47b;
    padding: 10px 10px 10px 0px;
    visibility: hidden;
    transition: 0.1s;
}

.navbar-dropdown ul li a {
    display: block;
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
    text-decoration: none;
}

.navbar-dropdown:hover .navbar-submenu {
    visibility: visible;
    /* display: block; */
}

/* ------ end of navbar ------ */



/* ------ Main content ------ */

/* ----------- hero Content ----------- */
.Hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/Hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Hero .Hero-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    transition: 0.5s;
}

.Hero:hover .Hero-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.Hero .Hero-container {
    position: absolute;
    width: 1100px;
    height: auto;
    color: white;
    text-align: center;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Hero .Hero-container h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.Hero .Hero-container p {
    font-size: 18px;
    margin-bottom: 35px;
    color: #9fa0a1;
    line-height: 1.5;
}

.Hero .Hero-container .Hero-btn {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.Hero .Hero-container .btn1 {
    background-color: #0EA5E9;
    color: white;
    margin-right: 10px;
}

.Hero .Hero-container .btn2 {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-right: 20px;
}

.Hero .Hero-container .btn1:hover {
    background-color: #0284C7;
}

.Hero .Hero-container .btn2:hover {
    background-color: #FFFFFF;
    color: #0EA5E9;
}

/* ------ end of hero Content ------ */


/* ---------- First Section ---------- */

.Welcome-section,
.Pricing-section {
    width: 100%;
    height: 1000px;
    background-color: #F9FAFB;
    text-align: center;
    overflow: hidden;
}

.Welcome-section .Welcome-container,
.Pricing-section .Pricing-container {
    width: 70%;
    height: 500px;
    margin: auto;
    margin-top: 140px;
}

.Welcome-container .Welcome-parent {
    position: relative;
    width: 100%;
    margin-top: 80px;
    text-align: center;
}

.Welcome-section .Welcome-container .Welcome-title,
.Offer-section .Offer-container .Offer-title,
.WhyUs-section .WhyUs-container .WhyUs-title,
.Pricing-section .Pricing-container .Pricing-title,
.Team-section .Team-container .Team-title,
.Blog-section .Blog-container .Blog-title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 100px;
    margin-left: 30px;
    text-transform: uppercase;
}

.Welcome-container .Welcome-title {
    color: #111827;
}

.Welcome-section .Welcome-container .Welcome-title::after,
.Offer-section .Offer-container .Offer-title::after,
.WhyUs-section .WhyUs-container .WhyUs-title::after,
.Pricing-section .Pricing-container .Pricing-title::after,
.Team-section .Team-container .Team-title::after,
.Blog-section .Blog-container .Blog-title::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: rgb(93, 75, 22);
    margin: auto;
    margin-top: 10px;
}

.Welcome-section .Welcome-container .Welcome-div {
    position: relative;
    width: 350px;
    height: 260px;
    float: left;
    margin-top: 80px;
    margin-left: 80px;
    background-color: #f3f2f2;
    border: 1px solid #0b3d2e;
    border-radius: 10px;
    color: #6B7280;
    text-align: center;
    z-index: 6;
}

.Welcome-section .Welcome-container h2 {
    font-size: 20px;
    color: #1c1c1c;
    transition: 0.5s;
}

.Welcome-section .Welcome-container p {
    font-size: 14px;
    color: #6c757d;
    font-weight: 700;
    line-height: 1.6;
    transition: 0.5s;
}

.Welcome-section .Welcome-container a {
    font-size: 16px;
    font-weight: 400;
    color: #1f7a5c;
    transition: 0.5s;
}

.Welcome-section .Welcome-container .Welcome-div::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    z-index: -1;
}

.Welcome-section .Welcome-container .Welcome-div:hover::after {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    opacity: 0.55;
    transition: 0.5s;
}

.Welcome-div.div1::after {
    background-image: url("../images/Welcome-div-1.webp");
}

.Welcome-div.div2::after {
    background-image: url("../images/Welcome-div-quality.jpg");
}

.Welcome-div.div3::after {
    background-image: url("../images/Welcome-div-fast.jpg");
}

.Welcome-container .Welcome-div i {
    font-size: 35px;
    color: #da0ee9;
    margin-top: 20px;
    transition: 0.5s;
}

.Welcome-container .Welcome-div .content {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: 900;
}

.Welcome-div .content h2,
.Welcome-div .content p {
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.Welcome-div .content a {
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

/* ---------- div_1 ---------- */

.Welcome-div.div1:hover i {
    color: #2E8B57;
}

.Welcome-div.div1:hover h2 {
    color: #123458;
}

.Welcome-div.div1:hover p {
    color: #5e5e60;
}

.Welcome-div.div1:hover a {
    color: #1ee43c;
}

/* ---------- div_2 ---------- */

.Welcome-div.div2:hover i {
    color: #ea8927;
}

.Welcome-div.div2:hover h2 {
    color: #1F2937;
    font-size: 22px;
}

.Welcome-div.div2:hover p {
    color: #5e5e60;
}

.Welcome-div.div2:hover a {
    color: #eec521;
}

/* ---------- div_3 ---------- */

.Welcome-div.div3:hover i {
    color: #60A5FA;
}

.Welcome-div.div3:hover h2 {
    color: #0F172A;
    font-size: 22px;
}

.Welcome-div.div3:hover p {
    color: #5e5e60;
}

.Welcome-div.div3:hover a {
    color: #112dbb;
}

/* ------------- end of First Section ------------- */



/* ------------ Offer Section ------------- */

.Offer-section,
.WhyUs-section,
.Fourth-section {
    width: 100%;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.Offer-section {
    background-color: #d3d4d5;
}

.Offer-section .Offer-container .Offer-title::after {
    background-color: #C89B6D;
}

.Offer-section .Offer-container,
.WhyUs-section .WhyUs-container {
    position: relative;
    width: 70%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.Offer-section .Offer-section-parent,
.WhyUs-section .WhyUs-Section-parent {
    position: relative;
    width: 1125px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

.Offer-section .Offer-container .Offer-div,
.WhyUs-section .WhyUs-container .WhyUs-div {
    position: relative;
    float: left;
    width: 335px;
    height: 230px;
    border: 1px solid #D6C7AE;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-left: 40px;
    text-align: center;
    overflow: hidden;
}

.Offer-container .Offer-div img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 10px;
}

.Offer-container .Offer-div .Overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    visibility: hidden;
}

.Offer-div.div1 .Overlay {
    background-color: rgba(14, 116, 144, 0.72);
}

.Offer-div.div2 .Overlay {
    background-color: rgba(28, 37, 65, 0.72);
}

.Offer-div.div3 .Overlay {
    background-color: rgba(120, 82, 54, 0.68);
}

.Offer-div.div4 .Overlay {
    background-color: rgba(35, 76, 141, 0.7);
}

.Offer-div.div5 .Overlay {
    background-color: rgba(34, 84, 61, 0.72);
}

.Offer-div.div6 .Overlay {
    background-color: rgba(91, 62, 43, 0.72);
}

.Offer-div .content {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-top: -20px;
    color: #F8FAFC;
    font-weight: 700;
}

.Offer-div .content h3 {
    color: #F8FAFC;
    font-size: 27px;
}

.Offer-div .content p {
    color: #E2E8F0;
    font-size: 15px;
}

.Offer-container .Offer-div .content h3,
.Offer-container .Offer-div .content p {
    margin-bottom: 20px;
}

.Offer-container .Offer-div .content i {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #f6cf94;
    color: #1E3A5F;
    padding: 5px 0px;
    padding-right: 0.5px;
    margin-top: 15px;
}

.Offer-div.div1 .content i {
    background-color: #E0F7FF;
    color: #0E7490;
}

.Offer-div.div1 .content i:hover {
    background-color: #0E7490;
    color: #FFFFFF;
}

.Offer-div.div2 .content i {
    background-color: #DCE3F0;
    color: #1C2541;
}

.Offer-div.div2 .content i:hover {
    background-color: #1C2541;
    color: #F8FAFC;
}

.Offer-div.div3 .content i {
    background-color: #F5E6D8;
    color: #785236;
}

.Offer-div.div3 .content i:hover {
    background-color: #785236;
    color: #FFF7ED;
}

.Offer-div.div4 .content i {
    background-color: #DBEAFE;
    color: #3B82F6;
}

.Offer-div.div4 .content i:hover {
    background-color: #3B82F6;
    color: #FFFFFF;
}

.Offer-div.div5 .content i {
    background-color: #DCFCE7;
    color: #22543D;
}

.Offer-div.div5 .content i:hover {
    background-color: #22543D;
    color: #ECFDF5;
}

.Offer-div.div6 .content i {
    background-color: #F3E8DC;
    color: #5B3E2B;
}

.Offer-div.div6 .content i:hover {
    background-color: #5B3E2B;
    color: #F3E8DC;
}

.Offer-container .Offer-div:hover .Overlay {
    visibility: visible;
}

/* ------------ end of Offer Section ------------- */



/* ------------ WhyUs Section ------------- */

.WhyUs-section {
    background: linear-gradient(to bottom, #F8FAFC, #E2E8F0);
}

.WhyUs-container .WhyUs-Section-parent .WhyUs-div {
    background-color: #FFFFFF;
    border: 1px solid #D6D3D1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.4s;
}

/* ---------- Overlay ---------- */

.WhyUs-container .WhyUs-Section-parent .WhyUs-div::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: 3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.WhyUs-container .WhyUs-div:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.82;
}

.WhyUs-container .WhyUs-div.div1::after {
    background-color: rgba(14, 116, 144, 0.75);
}

.WhyUs-container .WhyUs-div.div2::after {
    background-color: rgba(28, 37, 65, 0.75);
}

.WhyUs-container .WhyUs-div.div3::after {
    background-color: rgba(34, 84, 61, 0.75);
}

.WhyUs-container .WhyUs-div.div4::after {
    background-color: rgba(59, 130, 246, 0.75);
}

.WhyUs-container .WhyUs-div.div5::after {
    background-color: rgba(197, 67, 165, 0.75);
}

.WhyUs-container .WhyUs-div.div6::after {
    background-color: rgba(249, 115, 22, 0.75);
}

/* ---------- Content ---------- */

.WhyUs-container .WhyUs-div .content {
    position: relative;
    width: 100%;
    height: 90%;
    padding: 10px;
    margin-top: 20px;
    text-align: left;
    z-index: 4;
}

.WhyUs-container .WhyUs-div .content h2 {
    color: #1E293B;
    transition: 0.4s;
}

.WhyUs-container .WhyUs-div .content p {
    color: #64748B;
    transition: 0.4s;
    line-height: 1.6;
}

.WhyUs-container .WhyUs-div:hover .content h2 {
    color: #FFFFFF;
}

.WhyUs-container .WhyUs-div:hover .content p {
    color: #E2E8F0;
}

/* ---------- Icons ---------- */

.WhyUs-section .WhyUs-container .WhyUs-div .WhyUs-icon {
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
    font-size: 30px;
    margin-top: 20px;
    transition: 0.5s;
    z-index: 4;
}

.WhyUs-container .WhyUs-div.div1 .WhyUs-icon {
    color: #0EA5E9;
}

.WhyUs-container .WhyUs-div.div2 .WhyUs-icon {
    color: #F59E0B;
}

.WhyUs-container .WhyUs-div.div3 .WhyUs-icon {
    color: #10B981;
}

.WhyUs-container .WhyUs-div.div4 .WhyUs-icon {
    color: #6366F1;
}

.WhyUs-container .WhyUs-div.div5 .WhyUs-icon {
    color: #EC4899;
}

.WhyUs-container .WhyUs-div.div6 .WhyUs-icon {
    color: #F97316;
}

.WhyUs-container .WhyUs-div:hover .WhyUs-icon {
    color: #FFFFFF;
}

/* ------------ end of WhyUs Section ------------- */


/* ------------ About Us Section ------------- */
.AboutUs-section {
    height: 1000px;
    background-color: rgb(241, 245, 249);
    text-align: center;
    overflow: hidden;
}

.AboutUs-section .AboutUs-container {
    position: relative;
    width: 80%;
    height: 95%;
    margin: auto;
    overflow: hidden;
}

/* ---------- right Side ---------- */
.AboutUs-container .AboutUs-Sec-p1 {
    width: 50%;
    height: 100%;
    float: left;
    padding: 20px;
    text-align: left;
}

.AboutUs-container .AboutUs-Sec-p2 .AboutUs-circule {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 15px;
    transition: 0.3s;
}

.AboutUs-container .AboutUs-Sec-p2 .circule1 {
    background-color: rgb(14, 116, 144);
    right: 52%;
}

.AboutUs-container .AboutUs-Sec-p2 .circule2 {
    background-color: rgb(203, 213, 225);
    right: 47%;
}

.AboutUs-container .AboutUs-Sec-p2 .circule3 {
    background-color: rgb(203, 213, 225);
    right: 42%;
}

.AboutUs-container .AboutUs-Sec-p2 .circule2:hover,
.AboutUs-container .AboutUs-Sec-p2 .circule3:hover {
    background-color: rgb(200, 155, 109);
}

/* ---------- left Side ---------- */
.AboutUs-container .AboutUs-Sec-p2 {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    margin-top: 40px;
}

.AboutUs-container .AboutUs-Sec-p1 h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0px 40px 0px;
    color: rgb(15, 23, 42);
}

.AboutUs-container .AboutUs-Sec-p1 h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: rgb(200, 155, 109);
    margin-top: 12px;
    border-radius: 5px;
}

.AboutUs-container .AboutUs-Sec-p1 p {
    font-size: 15px;
    color: rgb(100, 116, 139);
    margin-bottom: 40px;
    word-spacing: 2px;
    line-height: 28px;
}

.AboutUs-container .AboutUs-Sec-p1 ul {
    list-style: none;
}

.AboutUs-container .AboutUs-Sec-p1 ul li {
    margin-bottom: 35px;
    font-size: 15px;
    color: rgb(30, 41, 59);
    transition: 0.3s;
}

.AboutUs-container .AboutUs-Sec-p1 ul li i {
    font-size: 18px;
    color: rgb(14, 165, 233);
    margin-right: 8px;
}

.AboutUs-container .AboutUs-Sec-p1 ul li:hover {
    color: rgb(14, 116, 144);
    padding-left: 8px;
}

.AboutUs-container .AboutUs-Sec-p2 img {
    width: 60%;
    height: 75%;
    border: 1px solid rgb(156, 156, 157);
    border-radius: 15px;
}

/* ------------ end of About Us Section ------------- */

/* ------------ Statistics Section ------------- */
.Statistics-section,
.Seventh-section {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    background-image: url(../images/Statistics-section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.Statistics-overlay,
.Seventh-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 23, 42, 0.75);
}

.Statistics-section .Statistics-container {
    position: relative;
    width: 65%;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Statistics-section .Statistics-container .Statistics-div {
    width: 190px;
    height: 150px;
    margin-left: 110px;
    float: left;
    text-align: center;
    padding: 20px;
}

.Statistics-div h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Statistics-div.div1 h2 {
    color: rgb(186, 230, 253);
}

.Statistics-div.div2 h2 {
    color: rgb(254, 191, 253);
}

.Statistics-div.div3 h2 {
    color: rgb(253, 224, 71);
}

.Statistics-div.div4 h2 {
    color: rgb(167, 243, 208);
}

/* ---------- Icons ---------- */
.Statistics-section .Statistics-container .Statistics-div i {
    font-size: 40px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.Statistics-section .Statistics-container .Statistics-div i.clients {
    color: rgb(125, 211, 252);
}

.Statistics-section .Statistics-container .Statistics-div i.projects {
    color: rgb(195, 82, 185);
}

.Statistics-section .Statistics-container .Statistics-div i.awards {
    color: rgb(251, 191, 36);
}

.Statistics-section .Statistics-container .Statistics-div i.fa-clock {
    color: rgb(110, 231, 183);
}

.Statistics-section .Statistics-container .Statistics-div p {
    font-size: 20px;
    color: rgba(248, 250, 252, 0.724);
    line-height: 32px;
    font-weight: bold;
    text-transform: capitalize;
}

/* ------------ end of Statistics Section ------------- */


/* ------------ Pricing Section ------------- */
.Pricing-section {
    background-color: rgba(223, 226, 229, 0.782);
    overflow: hidden;
}

.Pricing-section .Pricing-container {
    width: 82%;
    height: 650px;
    text-align: center;
    margin: auto;
}

.Pricing-section .Pricing-container .Pricing-parent {
    position: relative;
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 50px;
}

.Pricing-container .Pricing-parent .Pricing-div {
    position: relative;
    width: 300px;
    height: 450px;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    z-index: 6;
    transition: 0.4s;
    overflow: hidden;
}

.Pricing-container .Pricing-parent .Pricing-div .plan-title {
    font-size: 22px;
    font-weight: bold;
    color: rgb(15, 23, 42);
    margin-top: 30px;
}

.Pricing-container .Pricing-parent .div1 {
    border: 1px solid rgb(14, 165, 233);
}

.Pricing-container .Pricing-parent .div2 {
    border: 1px solid rgb(249, 115, 22);
}

.Pricing-container .Pricing-parent .div3 {
    border: 1px solid rgb(16, 185, 129);
}

.Pricing-container .Pricing-parent .Pricing-div:hover {
    margin-top: 10px;
}

/* ---------- Circle ---------- */
.Pricing-container .Pricing-parent .Pricing-div .Pricing-circule {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 15px 0;
    transition: 0.4s;
}

.Pricing-container .Pricing-parent .div1 .Pricing-circule {
    border: 2px solid rgb(14, 165, 233);
}

.Pricing-container .Pricing-parent .div2 .Pricing-circule {
    border: 2px solid rgb(249, 115, 22);
}

.Pricing-container .Pricing-parent .div3 .Pricing-circule {
    border: 2px solid rgb(16, 185, 129);
}

.Pricing-container .Pricing-parent .Pricing-div .Pricing-circule .circule-price {
    color: rgb(15, 23, 42);
    font-size: 38px;
    font-weight: bold;
}

.Pricing-container .Pricing-parent .Pricing-div .Pricing-circule .circule-month {
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(100, 116, 139);
}

/* ---------- After ---------- */
.Pricing-container .Pricing-parent .Pricing-div::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

.Pricing-container .Pricing-parent .div1::after {
    background-color: rgba(14, 165, 233, 0.35);
}

.Pricing-container .Pricing-parent .div2::after {
    background-color: rgba(249, 115, 22, 0.35);
}

.Pricing-container .Pricing-parent .div3::after {
    background-color: rgba(16, 185, 129, 0.35);
}

.Pricing-container .Pricing-parent .Pricing-div:hover::after {
    height: 100%;
    opacity: 1;
}

/* ---------- Content ---------- */
.Pricing-container .Pricing-parent .Pricing-div .content {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.Pricing-container .Pricing-parent .Pricing-div .content ul {
    list-style: none;
}

.Pricing-container .Pricing-parent .Pricing-div .content ul li {
    margin-top: 22px;
    font-size: 17px;
    color: rgb(51, 65, 85);
}

.Pricing-container .Pricing-parent .Pricing-div .btn {
    margin-top: 60px;
    font-weight: bold;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.Pricing-container .Pricing-parent .div1 .btn {
    border: 2px solid rgb(14, 165, 233);
    color: rgb(14, 116, 144);
}

.Pricing-container .Pricing-parent .div2 .btn {
    border: 2px solid rgb(249, 115, 22);
    color: rgb(194, 65, 12);
}

.Pricing-container .Pricing-parent .div3 .btn {
    border: 2px solid rgb(16, 185, 129);
    color: rgb(4, 120, 87);
}

.Pricing-container .Pricing-parent .div1 .btn:hover {
    background-color: rgb(14, 165, 233);
    color: rgb(255, 255, 255);
}

.Pricing-container .Pricing-parent .div2 .btn:hover {
    background-color: rgb(249, 115, 22);
    color: rgb(255, 255, 255);
}

.Pricing-container .Pricing-parent .div3 .btn:hover {
    background-color: rgb(16, 185, 129);
    color: rgb(255, 255, 255);
}

/* ------------ end of Pricing Section ------------- */



/* ------------ Testimonials Section ------------- */
.Testimonials-section,
.Seventh-section {
    width: 100%;
    height: 400px;
    background-image: url(../images/Testimonials-section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    overflow: hidden;
}

.Testimonials-overlay,
.Seventh-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 23, 42, 0.7);
}

.Testimonials-section .Testimonials-container,
.Seventh-section .Seventh-container {
    position: relative;
    width: 80%;
    height: 300px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Testimonials-section .Testimonials-container .Testimonials-div,
.Seventh-section .Seventh-container .Seventh-div {
    width: 48%;
    height: 100%;
    margin-left: 10px;
    float: left;
    padding: 25px;
}

/* ---------- Top Content ---------- */
.Testimonials-container .Testimonials-div .up-content,
.Seventh-container .Seventh-div .up-content {
    margin-top: 30px;
    margin-bottom: 35px;
    overflow: hidden;
}

.Testimonials-section .Testimonials-container .Testimonials-div .profile-pic,
.Seventh-section .Seventh-container .Seventh-div .profile-pic {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    float: left;
    margin-right: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid rgb(14, 165, 233);
}

.prof1 {
    background-image: url(../images/client-1.jpg);
}

.prof2 {
    background-image: url(../images/client-2.jpg);
}

.Testimonials-section .Testimonials-container .Testimonials-div .up-content h3,
.Seventh-section .Seventh-container .Seventh-div .up-content h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

/* ---------- Down Content ---------- */
.Testimonials-section .Testimonials-container .Testimonials-div .up-content h4,
.Seventh-section .Seventh-container .Seventh-div .up-content h4 {
    font-size: 17px;
    color: rgb(125, 211, 252);
}

.Testimonials-container .Testimonials-div p,
.Seventh-container .Seventh-div p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    color: rgb(226, 232, 240);
}

/* ------------ end of Testimonials Section ------------- */


/* ------------ Team Section ------------- */

.Team-section,
.Blog-section {
    width: 100%;
    height: 1000px;
    background-color: rgb(248, 250, 252);
    text-align: center;
}

.Team-section .Team-container,
.Blog-section .Blog-container {
    position: relative;
    width: 85%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.Team-section .Team-container .Team-parent,
.Blog-section .Blog-container .Blog-parent {
    position: relative;
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 100px;
}

.Team-container .Team-parent .Team-div,
.Blog-container .Blog-parent .Blog-div {
    position: relative;
    width: 320px;
    height: 480px;
    float: left;
    margin-top: 20px;
    margin-left: 45px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: 0.4s;
}

.Team-container .Team-parent .div1 {
    border: 1px solid rgb(14, 165, 233);
}

.Team-container .Team-parent .div2 {
    border: 1px solid rgb(249, 115, 22);
}

.Team-container .Team-parent .div3 {
    border: 1px solid rgb(16, 185, 129);
}

.Team-container .Team-parent .Team-div:hover {
    margin-top: 10px;
}

.Team-container .Team-parent .Team-div .Team-pic,
.Blog-container .Blog-parent .Blog-div .Blog-pic {
    position: relative;
    width: 270px;
    height: 250px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 2;
}

.Team-container .Team-parent .Team-div .Team-pic img {
    width: 100%;
    height: 100%;
}

/* ---------- Social Media ---------- */

.Team-container .Team-parent .Team-div .Team-pic .social-media {
    position: absolute;
    width: 55px;
    height: 165px;
    top: -100%;
    right: 0;
    visibility: hidden;
    transition: 0.5s;
}

.Team-container .Team-parent .div1 .social-media {
    background-color: rgba(14, 165, 233, 0.85);
}

.Team-container .Team-parent .div2 .social-media {
    background-color: rgba(249, 115, 22, 0.85);
}

.Team-container .Team-parent .div3 .social-media {
    background-color: rgba(16, 185, 129, 0.85);
}

.Team-container .Team-parent .Team-div .Team-pic .social-media a {
    display: block;
    width: 100%;
    height: 55px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: center;
    line-height: 55px;
}

.Team-container .Team-parent .Team-div::after,
.Blog-container .Blog-parent .Blog-div::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0;
    transition: 0.5s;
}

.Team-container .Team-parent .div1::after {
    background-color: rgba(14, 165, 233, 0.42);
}

.Team-container .Team-parent .div2::after {
    background-color: rgba(249, 115, 22, 0.42);
}

.Team-container .Team-parent .div3::after {
    background-color: rgba(16, 185, 129, 0.42);
}

.Team-container .Team-parent .Team-div:hover::after,
.Blog-container .Blog-parent .Blog-div:hover::after {
    height: 100%;
    opacity: 1;
}

.Team-container .Team-parent .Team-div:hover .social-media {
    top: 0;
    visibility: visible;
}

/* ---------- Text ---------- */

.Team-container .Team-parent .Team-div .text {
    position: absolute;
    width: 75%;
    height: 20%;
    bottom: 10%;
    left: 12%;
    padding: 10px;
    line-height: 40px;
    z-index: 3;
}

.Team-container .Team-parent .Team-div .text h3 {
    font-size: 28px;
    color: rgb(15, 23, 42);
    transition: 0.4s;
}

.Team-container .Team-parent .Team-div .text h4 {
    font-size: 17px;
    color: rgb(100, 116, 139);
    transition: 0.4s;
}

.Team-container .Team-parent .Team-div:hover h3 {
    color: rgb(15, 23, 42);
}

.Team-container .Team-parent .div1:hover h4 {
    color: rgb(14, 116, 144);
}

.Team-container .Team-parent .div2:hover h4 {
    color: rgb(194, 65, 12);
}

.Team-container .Team-parent .div3:hover h4 {
    color: rgb(5, 150, 105);
}

/* ------------ end of Team Section ------------- */


/* ------------ Blog Section ------------- */
.Blog-section {
    margin-top: -10px;
    height: 1150px;
    background-color: rgb(248, 250, 252);
}

.Blog-section .Blog-container {
    margin-bottom: 100px;
}

.Blog-section .Blog-container .Blog-parent {
    width: 80%;
}

.Blog-container .Blog-parent .Blog-div {
    position: relative;
    height: 650px;
    width: 380px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: 0.4s;
}

.Blog-container .Blog-parent .div1 {
    border: 1px solid rgb(18, 138, 7);
}

.Blog-container .Blog-parent .div1::after {
    background-color: rgba(18, 138, 7, 0.42);
}

.Blog-container .Blog-parent .div2 {
    border: 1px solid rgb(172, 164, 15);
}

.Blog-container .Blog-parent .div2::after {
    background-color: rgba(219, 209, 18, 0.42);
}

.Blog-container .Blog-parent .div3 {
    border: 1px solid rgb(144, 84, 10);
}

.Blog-container .Blog-parent .div3::after {
    background-color: rgba(144, 84, 10, 0.42);
}

.Blog-container .Blog-parent .Blog-div:hover {
    margin-top: 10px;
}

.Blog-container .Blog-parent .Blog-div .Blog-pic {
    width: 340px;
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog1 {
    background-image: url(../images/blog-1.jpg);
}

.blog2 {
    background-image: url(../images/blog-2.jpg);
}

.blog3 {
    background-image: url(../images/blog-3.jpg);
}

/* ---------- Social ---------- */
.Blog-container .Blog-parent .Blog-div .social-media {
    position: relative;
    z-index: 3;
}

.Blog-container .Blog-parent .Blog-div .social-media a {
    text-decoration: none;
    margin: 0 8px;
    font-weight: bold;
    color: rgb(51, 65, 85);
}

.Blog-container .Blog-parent .Blog-div .social-media i {
    font-size: 22px;
    margin-right: 5px;
}

.Blog-container .Blog-parent .div1 .social-media i {
    color: rgb(18, 138, 7);
}

.Blog-container .Blog-parent .div2 .social-media i {
    color: rgb(219, 209, 18);
}

.Blog-container .Blog-parent .div3 .social-media i {
    color: rgb(144, 84, 10);
}

.Blog-container .Blog-parent .Blog-div .text h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px;
    color: rgb(15, 23, 42);
    transition: 0.4s;
}

.Blog-container .Blog-parent .Blog-div .text p {
    color: rgb(100, 116, 139);
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 1.8;
}

/* ---------- Text ---------- */
.Blog-container .Blog-parent .Blog-div .text {
    position: relative;
    height: 50%;
    line-height: 28px;
    padding: 15px;
    z-index: 2;
}

.Blog-container .Blog-parent .Blog-div .text a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.Blog-container .Blog-parent .div1 .text a {
    color: rgb(12, 96, 4);
}

.Blog-container .Blog-parent .div2 .text a {
    color: rgb(148, 141, 12);
}

.Blog-container .Blog-parent .div3 .text a {
    color: rgb(109, 64, 9);
}

.Blog-container .Blog-parent .Blog-div:hover h3 {
    color: rgb(15, 23, 42);
}

/* ------------ end of Blog Section ------------- */


/* ------------- Footer Section ------------- */
.Footer-section {
    width: 100%;
    height: 400px;
    background-color: rgb(59, 62, 66);
    padding: 0 10px;
    text-align: center;
}

.Footer-section .Footer-container {
    position: relative;
    width: 18%;
    height: 100%;
    margin: auto;
}

.Footer-container img {
    width: 280px;
    height: 200px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.Footer-container .Footer-links a {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    padding-top: 8px;
    margin-bottom: 20px;
    background-color: rgb(75, 76, 78);
    border-radius: 50%;
    transition: 0.3s;
}

.Footer-container .tele-circule {
    position: relative;
    float: right;
    margin-right: 8px;
    margin-top: -2px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 49px;
    height: 49px;
}

.tele-circule .telegram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    color: rgb(75, 76, 78);
}

.Footer-container .Footer-links a.facebook:hover {
    background-color: rgb(59, 89, 152);
}

.Footer-container .Footer-links a.twitter:hover {
    background-color: rgb(29, 161, 242);
}

.Footer-container .Footer-links a.instagram:hover {
    background-color: rgb(193, 53, 132);
}

.Footer-container .Footer-links a.youtube:hover {
    background-color: rgb(255, 0, 0);
}

.Footer-container .Footer-links a.linkedin:hover {
    background-color: rgb(0, 119, 181);
}

.Footer-container .tele-circule:hover {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
}

.Footer-container .Footer-links .telegram:hover {
    color: #0088cc;
    font-size: 45px;
}

.Footer-container .copyright {
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    height: 30px;
    padding: 2px 5px;
}